/* 
Author: Samiul Kabir
*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
}
footer{
    height:256px;
    background-color: #000019;
    text-align: center;
}
.flexible-container{
    display: flex;
}
.Order-Food{
    height: 500px;
    text-align: left;
    padding-left: 5%;
}
.About-Me{
    height: 500px;
    background-image: url("images/shapes/Frame 58.jpg ");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.recipies{
    height: 300px;
    text-align: center;
    display: block;
}
#half-width1{
    width: 70%;
}
#half-width2{
    width: 30%;
}
.para-first{
    font-weight: 100;
    color: gray;
}
.food-Button{
    text-decoration: none;
    background-image:linear-gradient(to right, purple, red);
    padding: 10px 40px;
    border-radius:20px;
    color: white;
    font-weight:700;
}
.first-img{
    height: 90%;
}
.contact-me{
    text-decoration: none;
    background-image:linear-gradient(to right, purple, red);
    padding: 10px 40px;
    border-radius:20px;
    color: white;
    font-weight:700;
}
.me-burger{
    width: 50%;
    padding-top: 50px;
}
.about-me-text{
    text-align: center;
    width: 50%;
    padding-top: 100px;
    padding-bottom: 200px;
    font-weight: 300;
    color: gray;

}
.cards{
    text-align: center;
    width: 100%;
}
.card-all{
    width: 33%;
    height: 500px;
    text-align:left;
    box-shadow: 7px 7px 22px grey;
    border-radius: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    margin-left: 5%;
    margin-right: 5%;
}
.cards-img{
    width: 350px;
    height: 250px;
    margin-left: 10%;
    margin-top: 10%;
    border-radius:20px;
}
.cards-text{
    color: gray;
    font-size: 15px;
    padding-left: 15px;
}
.cards-title{
    padding-left: 15px;
}
#parent{
    width: 80%;
    text-align: center;
    margin-left: 12%;
    box-shadow: 0px 0px 20px;
    margin-top: 8%;
    margin-bottom: 8%;
}
.child{
    width:25%;
    padding-left: 50px;
    padding-right: 50px;
}
.child-title{
    font-size: 45px;
    font-weight: bolder;
}
.child-text{
    font-size: 20px;
    font-weight: 200;
    margin-top: -33px;
    margin-left: 80px;
}
#recipies-header{
    color:gray;
    font-size:30px;
    font-weight:700;
    text-align: center;
}
#recipies-text{
    color:gray;
    font-size:15px;
    font-weight:300;
    text-align: center;
}
#purple{
    color: purple;
}
#about-title{
    color: gray;
}
#footer-title{
    color: gray;
    padding-top: 25px;
}
#footer-text{
    color: white;
}
#navbar-title{
    color: purple;
    width:60%;
    margin-left: 80px;
}
#navbar-right{
    color: purple;
    width:40%;
    text-align: center;
    margin-top: 22px;
}
#dot{
    color: red;
    font-size: 41px;
}
.navbar-items{
    padding: 10px 25px 10px 10px;
    color: purple;
    text-decoration: none;
    font-size: 23px;
    font-weight: bolder;
}